.fiveDayColor {
background-color: aquamarine;
padding: 20px;
color:black;
margin: 10px;
border: 2px solid black;

}

body {
    background-image: url("./5183000.jpg");
    background-color: #cccccc;
   };

.currentdesign{
background-color: aquamarine;
padding: 20px;
color:black;
margin: 10px;
border: 2px solid black

}